MediaGuard_Cmake/build/
MediaGuard_Cmake/output/
MediaGuard_Cmake/Output/
MediaGuard_Cmake/build/ALL_BUILD.vcxproj
MediaGuard_Cmake/MediaGuard/src/conf/main_company_detais_by_serialno.json
MediaGuard_Cmake/Output/Debug/conf/config.json
MediaGuard_Cmake/Output/Debug/conf/deviceUtf8.json
MediaGuard_Cmake/Output/Debug/CustomLib.lib
MediaGuard_Cmake/Output/Debug/CustomLib.pdb
MediaGuard_Cmake/Output/Debug/HelloWorld.lib
MediaGuard_Cmake/Output/Debug/HelloWorld.pdb
MediaGuard_Cmake/Output/Debug/MathLibrary.dll
MediaGuard_Cmake/Output/Debug/MathLibrary.exp
MediaGuard_Cmake/Output/Debug/MathLibrary.pdb
MediaGuard_Cmake/Output/Debug/MediaGuard.exe
MediaGuard_Cmake/Output/Debug/MediaGuard.pdb
MediaGuard_Cmake/.vs/VSWorkspaceState.json
MediaGuard_Cmake/.vs/slnx.sqlite
MediaGuard_Cmake/.vs/ProjectSettings.json
MediaGuard_Cmake/.vs/MediaGuard_Cmake/v17/workspaceFileList.bin
MediaGuard_Cmake/.vs/MediaGuard_Cmake/v17/Browse.VC.db
MediaGuard_Cmake/.vs/MediaGuard_Cmake/v17/.wsuo
MediaGuard_Cmake/.vs/cmake.db
MediaGuard_Cmake/.vs/CMake Overview
MediaGuard_Cmake/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
MediaGuard_Cmake/out/build/x64-Debug/build.ninja
MediaGuard_Cmake/out/build/x64-Debug/cmake/cmake_install.cmake
MediaGuard_Cmake/out/build/x64-Debug/cmake_install.cmake
MediaGuard_Cmake/out/build/x64-Debug/CMakeCache.txt
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeCCompiler.cmake
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeCXXCompiler.cmake
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_C.bin
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_CXX.bin
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeRCCompiler.cmake
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CMakeSystem.cmake
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdC/CMakeCCompilerId.c
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdC/CMakeCCompilerId.exe
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdC/CMakeCCompilerId.obj
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX/CMakeCXXCompilerId.exe
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX/CMakeCXXCompilerId.obj
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/cmake.check_cache
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/rules.ninja
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
MediaGuard_Cmake/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
MediaGuard_Cmake/out/build/x64-Debug/Library/CustomLib/cmake_install.cmake
MediaGuard_Cmake/out/build/x64-Debug/Library/HelloWorld/cmake_install.cmake
MediaGuard_Cmake/out/build/x64-Debug/Library/MathLibrary/cmake_install.cmake
MediaGuard_Cmake/out/build/x64-Debug/MediaGuard/cmake_install.cmake
MediaGuard_Cmake/out/build/x64-Debug/Test/TestMath/cmake_install.cmake
MediaGuard_Cmake/out/build/x64-Debug/VSInheritEnvironments.txt
*.vsidx
