<?xml version="1.0" encoding="utf-8"?>
<config>
	<local>
		<id>IbOEHlOZQz</id>
		<serailNo>IbOEHlOZQz</serailNo>
		<name>IbOEHlOZQz</name>
		<ip>192.168.0.177</ip>
		<rtspPort>8090</rtspPort>
		<httpPort>180</httpPort>
		<enableApiRight>true</enableApiRight>
		<enableFileRight>true</enableFileRight>
		<user>media</user>
		<password>123456</password>
	</local>
	<log>
		<level>0</level>
		<upload>false</upload>
	</log>
	<cloud>
		<enable>true</enable>
		<url>http://81.71.74.135:5002</url>
		<user>admin</user>
		<password>0192023A7BBD73250516F069DF18B500</password>
	</cloud>
	<lpr>
		<enable>false</enable>
		<url>http://localhost:5000</url>
		<threshold>0.899999976</threshold>
		<detectUrl>http://localhost:5600/detect</detectUrl>
		<user>admin</user>
		<password>123456</password>
	</lpr>
	<hls>
		<path>D:/media/hls</path>
		<prefix>lixx</prefix>
		<spliteSize>5</spliteSize>
		<duration>1</duration>
		<aliveTime>15</aliveTime>
	</hls>
	<record>
		<capture>
			<enable>true</enable>
			<upload>false</upload>
			<gap>10</gap>
			<path>D:/media/capture</path>
		</capture>
		<enable>true</enable>
		<path>D:/media/record</path>
		<format>flv</format>
		<filesize>104857600</filesize>
		<reserve>2147483648</reserve>
		<alarmSaveDay>30</alarmSaveDay>
		<items>
			<item>
				<id>12</id>
				<channel>1</channel>
				<stream>1</stream>
				<format>flv</format>
				<schedulers>
					<scheduler>
						<day>0</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>1</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>2</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>3</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>4</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>5</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>6</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
				</schedulers>
			</item>
			<item>
				<id>8</id>
				<channel>1</channel>
				<stream>1</stream>
				<format>mp4</format>
				<schedulers>
					<scheduler>
						<day>0</day>
						<enable>true</enable>
						<start>01:30:00</start>
						<end>19:00:00</end>
					</scheduler>
					<scheduler>
						<day>1</day>
						<enable>true</enable>
						<start>08:00:00</start>
						<end>23:30:00</end>
					</scheduler>
					<scheduler>
						<day>2</day>
						<enable>true</enable>
						<start>03:00:00</start>
						<end>19:00:00</end>
					</scheduler>
					<scheduler>
						<day>3</day>
						<enable>true</enable>
						<start>02:30:00</start>
						<end>21:00:00</end>
					</scheduler>
					<scheduler>
						<day>4</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>5</day>
						<enable>true</enable>
						<start>00:00:00</start>
						<end>23:59:00</end>
					</scheduler>
					<scheduler>
						<day>6</day>
						<enable>true</enable>
						<start>03:30:00</start>
						<end>23:59:00</end>
					</scheduler>
				</schedulers>
			</item>
		</items>
	</record>
	<db>
		<type>1</type>
		<ip>127.0.0.1</ip>
		<port>3306</port>
		<user>root</user>
		<pwd>root</pwd>
		<name>record</name>
	</db>
</config>
